.container{
    margin-top: 30px;

}

.clase1{
    display: grid;
    grid-template-columns: repeat(3, 1fr); ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

   
}



a{
    text-decoration: none;
    color: black;

}

.card-title{
    font-weight: bold;
}


