.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.container-table2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}


.TabEstudiantes{
    width: 70vw;
}

.TabProyecto{
    width: 60vw;
}

.table2{
    width: 50%;
    margin: auto;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-bottom: 40px;
}